@use "media-queries";
@use "palette";

@mixin round-btn-style {
	border: none;
	border-radius: 100%;
}

.container {
	display: flex;
	gap: 10px;
	&__btn {
		@include round-btn-style;
		&--portfolio {
			background-color: black;
		}
		&--footer {
			width: 55px;
			height: 55px;
		}
		&--image-center {
			padding-top: 5px;
		}
	}
}

@include media-queries.desktop {
	.container {
		&__btn {
			&--portfolio {
				width: 2.4vw;
				height: 2.4vw;
			}
		}
	}
}

@include media-queries.mobile {
	.container {
		&__btn {
			&--portfolio {
				width: 45px;
				height: 45px;
			}
		}
	}
}
