* {
	margin: 0px;
}

// text sizes - mobile(s)
$s-primary-header-font-size: 80px;
$s-secondary-header-font-size: 32px;
$s-para-font-size: 16px;
$s-name-font-size: 24px;

// text sizes - desktop(lg)
$lg-primary-header-font-size: 128px;
$lg-secondary-header-font-size: 48px;
$lg-para-font-size: 20px;
$lg-name-font-size: 48px;

//font-family
$header-font-family: Garamond;
$para-font-family: Helvetica;

//margin - mobile(s)
$s-margin: 35px 25px;
$s-primary-margin: 70px;
