* {
	margin: 0px;
}

// text sizes - mobile(s)
$s-primary-header-font-size: 80px;
$s-secondary-header-font-size: 32px;
$s-para-font-size: 16px;
$s-name-font-size: 24px;
$s-button-font-size: 18px;

// text sizes - desktop(lg)
$lg-primary-header-font-size: 128px;
$lg-secondary-header-font-size: 48px;
$lg-para-font-size: 20px;
$lg-skills-font-size: 16px;
$lg-subtitle-font-size: 10px;
$lg-name-font-size: 48px;
$lg-btn-font-size: 24px;

//font-family
$header-font-family: Garamond;
$para-font-family: Helvetica;

//margin - mobile(s)
$s-margin: 70px 25px;
$s-about-margin: 70px;

//margin - desktop(lg)
$lg-nav-margin: 90px;
$lg-section-margin-btm: 120px;
$lg-section-margin-side: 135px;
