* {
  margin: 0px;
}

.section__title {
  color: #fafaff;
  font-weight: lighter;
  font-family: Garamond;
}
.section__title--bold {
  font-weight: bold;
}
.section__main {
  color: #e4d9ff;
  font-family: Helvetica;
  line-height: 1.5;
}
.section__main--margin {
  margin-bottom: 30px;
}

@media only screen and (min-width: 391px) {
  .section {
    margin: 0px 6.75vw 120px;
  }
  .section__title {
    font-size: 48px;
  }
  .section__title--lg {
    font-size: 128px;
  }
}
@media only screen and (max-width: 390px) {
  .section {
    margin: 0px 6.5vw 70px;
  }
  .section__title {
    font-size: 32px;
  }
  .section__title--lg {
    font-size: 80px;
  }
}
.navigation__link {
  text-decoration: none;
  color: #fafaff;
  font-family: Helvetica;
  font-size: 20px;
}

@media only screen and (min-width: 391px) {
  #nav-bar {
    margin-top: 66px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-around;
  }
  #nav-name {
    font-size: 48px;
  }
  .navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
  }
  .navigation__item {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 390px) {
  #nav-bar {
    margin-top: 20px;
    margin-bottom: 108px;
  }
  #nav-name {
    font-size: 24px;
    text-align: center;
  }
  .navigation__item {
    display: none;
  }
}
@media only screen and (min-width: 391px) {
  #header-margin {
    margin-bottom: 90px;
  }
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header__main {
    margin-right: 50vw;
  }
}
@media only screen and (max-width: 390px) {
  #header-margin {
    margin-bottom: 98px;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 391px) {
  #about-image {
    width: 19.5vw;
  }
}
@media only screen and (max-width: 390px) {
  #about-image {
    width: 69vw;
    margin-bottom: 40px;
  }
}
body {
  background-color: #30343f;
}

h4 {
  font-family: Garamond;
  color: #e4d9ff;
}

.skills__text {
  display: flex;
  justify-content: space-between;
}
.skills__desc {
  font-size: 16px;
  padding-right: 275px;
  padding-left: 220px;
}
.skills__skill-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.skills__skill-icons--margin {
  margin-right: 60px;
}

.skill-icons__text {
  color: #fafaff;
  font-size: 16px;
  text-align: center;
}

.projects__btn {
  border: none;
  border-radius: 100%;
  background-color: black;
  width: 45px;
  height: 45px;
}
.projects__display {
  background-color: black;
}
.projects__info {
  display: flex;
  justify-content: space-between;
}
.projects__subtitles {
  display: flex;
}
.projects__subtitle {
  font-size: 10px;
  margin: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__btn {
  border: 2px solid #fafaff;
  background: none;
  color: #fafaff;
}

.footer {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer__btn {
  border: none;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  margin: 10px;
}
.footer__btn--center {
  padding-top: 5px;
}

@media only screen and (max-width: 390px) {
  h4 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
  .about__margin {
    margin-bottom: 70px;
  }
  .about__para--desktop {
    display: none;
  }
  .skills {
    display: none;
  }
  .portfolio__title {
    margin-bottom: 20px;
  }
  .projects__display {
    height: 265px;
    margin: 10px 0px;
  }
  .projects__info {
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .projects__subtitles {
    display: none;
  }
  .projects__btn {
    margin-left: 10px;
  }
  .contact__title {
    text-align: center;
    padding: 40px 0px;
  }
  .contact__btn {
    width: 270px;
    height: 80px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 391px) {
  h4 {
    font-size: 48px;
  }
  p {
    font-size: 20px;
  }
  .about {
    display: grid;
    grid-template-columns: 60% 15% 25%;
  }
  .about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about__margin {
    margin-bottom: 50px;
  }
  .about__para--mobile {
    display: none;
  }
  #about-image {
    grid-column-start: 3;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .projects {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 50% 50%;
  }
  .projects__display {
    width: 472px;
    height: 265px;
  }
  .projects__info {
    margin-top: 10px;
  }
  .projects__btns {
    margin-right: 200px;
  }
  .projects__btn {
    margin-left: 10px;
  }
  #project2 {
    grid-column-start: 3;
  }
  #project4 {
    grid-column-start: 3;
  }
  .contact__title {
    padding-bottom: 60px;
  }
  .contact__btn {
    width: 320px;
    height: 80px;
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
