@use "typography";
@use "palette";
@use "media-queries";

@mixin round-btn-style {
	border: none;
	border-radius: 100%;
}

body {
	background-color: palette.$col-background;
}

h1,
h2,
h3,
h4 {
	font-weight: lighter;
}

h1,
h2,
h3 {
	font-family: typography.$header-font-family;
	color: palette.$col-text1;
}
h3 {
	font-weight: bold;
}

h4 {
	font-family: typography.$header-font-family;
	color: palette.$col-text2;
}

p {
	font-family: typography.$para-font-family;
	color: palette.$col-text2;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: palette.$col-text1;
	font-family: typography.$para-font-family;
	font-size: typography.$lg-para-font-size;
}

.nav-bar {
	width: 100%;
}
.about {
	&__para {
		margin-bottom: 30px;
	}
}
.skills {
	&__text {
		display: flex;
		justify-content: space-between;
	}
	&__desc {
		font-size: typography.$lg-skills-font-size;
		padding-right: 275px;
		padding-left: 220px;
	}
	&__skill-icons {
		list-style: none;
		display: flex;
		justify-content: center;
		margin-top: 70px;
		&--margin {
			margin-right: 60px;
		}
	}
}
.skill-icons {
	&__text {
		color: palette.$col-text1;
		font-size: typography.$lg-skills-font-size;
		text-align: center;
	}
}
.projects {
	&__btn {
		@include round-btn-style;
		background-color: black;
		width: 45px;
		height: 45px;
	}
	&__display {
		background-color: black;
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__subtitles {
		display: flex;
	}
	&__subtitle {
		font-size: typography.$lg-subtitle-font-size;
		margin: 30px;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__btn {
		border: 2px solid palette.$col-text1;
		background: none;
		color: palette.$col-text1;
	}
}
.footer {
	height: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	&__btn {
		@include round-btn-style;
		width: 55px;
		height: 55px;
		margin: 10px;
		&--center {
			padding-top: 5px;
		}
	}
}

@include media-queries.mobile {
	.nav-bar {
		margin-top: 20px;
	}
	h1 {
		font-size: typography.$s-name-font-size;
		text-align: center;
	}
	h2 {
		font-size: typography.$s-primary-header-font-size;
	}
	h3,
	h4 {
		font-size: typography.$s-secondary-header-font-size;
	}
	p {
		font-size: typography.$s-para-font-size;
	}
	.section {
		margin: typography.$s-margin;
	}
	.navigation {
		&__link {
			display: none;
		}
	}
	.header {
		margin-top: 108px;
		display: flex;
		flex-direction: column;
		margin-bottom: 70px;
	}
	#header-title {
		margin-bottom: 98px;
	}
	#about-image {
		height: 400px;
		margin-bottom: 40px;
	}
	.about {
		&__margin {
			margin-bottom: typography.$s-about-margin;
		}
		&__para {
			&--desktop {
				display: none;
			}
		}
	}
	.skills {
		display: none;
	}
	.portfolio {
		&__title {
			margin-bottom: 20px;
		}
	}
	.projects {
		&__display {
			height: 265px;
			margin: 10px 0px;
		}
		&__info {
			margin-bottom: 50px;
			margin-top: 20px;
		}
		&__subtitles {
			display: none;
		}
		&__btn {
			margin-left: 10px;
		}
	}
	.contact {
		&__title {
			text-align: center;
			padding: 40px 0px;
		}
		&__btn {
			width: 270px;
			height: 80px;
			font-size: typography.$s-button-font-size;
		}
	}
}

@include media-queries.desktop {
	h1 {
		font-size: typography.$lg-secondary-header-font-size;
	}
	h2 {
		font-size: typography.$lg-primary-header-font-size;
	}
	h3,
	h4 {
		font-size: typography.$lg-secondary-header-font-size;
	}
	p {
		font-size: typography.$lg-para-font-size;
	}
	.nav-bar {
		margin-top: 66px;
		margin-bottom: typography.$lg-nav-margin;
		display: flex;
		justify-content: space-around;
	}
	.navigation {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		align-items: center;
		&__link {
			margin-left: 100px;
		}
	}
	.section {
		margin: 0px typography.$lg-section-margin-side typography.$lg-section-margin-side typography.$lg-section-margin-btm;
	}
	.header {
		padding-left: 50px;
		padding-right: 50px;
		&__para {
			margin-right: 950px;
		}
	}
	#header-title {
		margin-bottom: 90px;
	}
	.about {
		display: grid;
		grid-template-columns: 60% 15% 25%;
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__margin {
			margin-bottom: 50px;
		}
		&__para {
			&--mobile {
				display: none;
			}
		}
	}
	#about-image {
		height: 558px;
		grid-column-start: 3;
	}
	.portfolio {
		&__title {
			margin-bottom: 50px;
		}
	}
	.projects {
		display: grid;
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: 50% 50%;
		&__display {
			width: 472px;
			height: 265px;
		}
		&__info {
			margin-top: 10px;
		}
		&__btns {
			margin-right: 200px;
		}
		&__btn {
			margin-left: 10px;
		}
	}
	#project2 {
		grid-column-start: 3;
	}
	#project4 {
		grid-column-start: 3;
	}
	.contact {
		&__title {
			padding-bottom: 60px;
		}
		&__btn {
			width: 320px;
			height: 80px;
			font-size: typography.$lg-btn-font-size;
		}
	}
}
