@use "typography";
@use "palette";
@use "media-queries";
@use "sections";
@use "Page-Sections/navigation";
@use "Page-Sections/header";
@use "Page-Sections/about";
@use "Page-Sections/skills";
@use "Page-Sections/portfolio";
@use "Page-Sections/contact";
@use "buttons";

body {
	background-color: palette.$col-background;
}
.footer {
	height: 115px;
	justify-content: center;
	align-items: center;
	background-color: black;
}

@include media-queries.desktop {
	.image-responsive {
		height: auto;
		width: 55%;
		padding-top: 5px;
	}
}
