@use "typography";
@use "palette";
@use "media-queries";

@mixin round-btn-style {
	border: none;
	border-radius: 100%;
}

body {
	background-color: palette.$col-background;
}

h1,
h2,
h3,
h4 {
	font-weight: lighter;
}

h1,
h2,
h3 {
	font-family: typography.$header-font-family;
	color: palette.$col-text1;
}

h4 {
	font-family: typography.$header-font-family;
	color: palette.$col-text2;
}

p {
	font-family: typography.$para-font-family;
	color: palette.$col-text2;
	line-height: 1.5;
}

.nav-bar {
	width: 100%;
}
.projects {
	&__btn {
		@include round-btn-style;
		background-color: black;
	}
}
.contact {
	&__btn {
		border: 2px solid palette.$col-text1;
		background: none;
		color: palette.$col-text1;
	}
}
.footer {
	display: flex;
	background-color: black;
	&__btn {
		@include round-btn-style;
	}
}

@include media-queries.mobile {
	.nav-bar {
		margin-top: 20px;
	}
	h1 {
		font-size: typography.$s-name-font-size;
		text-align: center;
	}
	h2 {
		font-size: typography.$s-primary-header-font-size;
	}
	h3,
	h4 {
		font-size: typography.$s-secondary-header-font-size;
	}
	h3 {
		font-weight: bold;
	}
	p {
		font-size: typography.$s-para-font-size;
	}
	.section {
		margin: typography.$s-margin;
	}
	.navigation {
		&__link {
			display: none;
		}
	}
	.header {
		margin-top: 108px;
		display: flex;
		flex-direction: column;
		margin-bottom: 70px;
	}
	#header-title {
		margin-bottom: 98px;
	}
	#about-image {
		height: 400px;
		margin-bottom: 40px;
	}
	.about {
		&__margin {
			margin-bottom: typography.$s-primary-margin;
		}
		&__para {
			margin-bottom: 30px;
		}
	}
	.skills {
		display: none;
	}
	.portfolio {
		&__title {
			margin-bottom: 20px;
		}
	}
	.projects {
		&__display {
			background-color: black;
			height: 265px;
			margin: 10px 0px;
		}
		&__info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			margin-top: 20px;
		}
		&__subtitles {
			display: none;
		}
		&__btn {
			width: 45px;
			height: 45px;
			margin-left: 10px;
		}
	}
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__title {
			text-align: center;
			padding: 40px 0px;
		}
		&__btn {
			width: 270px;
			height: 80px;
			font-size: typography.$s-button-font-size;
		}
	}
	.footer {
		height: 115px;
		justify-content: center;
		align-items: center;
		&__btn {
			width: 55px;
			height: 55px;
			margin: 10px;
		}
	}
}
