@use "../media-queries";
@use "../typography";

.about {
	display: grid;
	grid-template-columns: 60% 15% 25%;
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__image {
		width: 19.5vw;
		grid-column-start: 3;
		&--hide-on-desktop {
			display: none;
		}
	}
}
#about-title {
	margin-bottom: 50px;
}

@include media-queries.tablet {
	.about {
		display: grid;
		grid-template-columns: 60% 7.5% 32.5%;
		&__image {
			width: 30vw;
			align-self: center;
		}
	}
}

@include media-queries.mobile {
	.about {
		&__text {
			width: 80vw;
		}
		&__image {
			width: 69vw;
			margin-bottom: 40px;
			&--hide-on-mobile {
				display: none;
			}
		}
	}
	#about-title {
		margin-bottom: 70px;
	}
}
