@use "../media-queries";

#header-margin {
	margin-bottom: 90px;
}
.header {
	padding-left: 50px;
	padding-right: 50px;
	&__main {
		margin-right: 50vw;
	}
}

@include media-queries.tablet {
	#header-margin {
		margin-bottom: 52px;
	}
	.header {
		&__main {
			margin-right: 35vw;
		}
	}
}

@include media-queries.mobile {
	#header-margin {
		margin-bottom: 98px;
	}
	.header {
		display: flex;
		flex-direction: column;
		margin-bottom: 70px;
		&__main {
			margin-right: 30vw;
		}
	}
}
