@use "../media-queries";
@use "../typography";
@use "../palette";

.skills {
	&__text {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}
	&__brief {
		font-size: typography.$lg-skills-font-size;
		margin-left: 11.5vw;
		margin-right: 14.5vw;
	}
}
.skill-icons {
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 3.1vw;
	&__text {
		color: palette.$primary-text;
		font-size: typography.$lg-skills-font-size;
		font-family: typography.$para-font-family;
		text-align: center;
		margin-top: 15px;
	}
}

@include media-queries.tablet {
	.skills {
		&__brief {
			font-size: typography.$m-skills-font-size;
		}
	}
	.skill-icons {
		&__text {
			font-size: typography.$m-skills-font-size;
		}
	}
}

@include media-queries.mobile {
	.skills {
		display: none;
	}
}
